<mtapp:setting
    id="active"
    show_label="0"
    label="<__trans phrase="active">">
    <ul>
        <li><input type="checkbox" value="1" name="active" id="active"<tmpl_if name=active> checked="checked"</tmpl_if> /> <__trans phrase="Enable plugin"></li>
    </ul>
</mtapp:setting>

<mtapp:setting
    id="usercss"
    show_label="0"
    label="user.css">
    <ul>
        <li><input type="checkbox" value="1" name="usercss" id="usercss"<tmpl_if name=usercss> checked="checked"</tmpl_if> /> <__trans phrase="Enable user.css"></li>
    </ul>
</mtapp:setting>

<mt:ignore>
<mtapp:setting
    id="mtappjquery"
    show_label="0"
    label="MTAppjQuery.js">
    <ul>
        <li><input type="checkbox" value="1" name="mtappjquery" id="mtappjquery"<tmpl_if name=mtappjquery> checked="checked"</tmpl_if> />  <__trans phrase="Enable MTAppjQuery.js"> <strong><__trans phrase="(JavasScript unless you are familiar with the contents of the file it is recommended that you disable it.)"></strong></li>
    </ul>
</mtapp:setting>
</mt:ignore>

<mtapp:setting
    id="userjs"
    show_label="0"
    label="user.js">
    <ul>
        <li><input type="checkbox" value="1" name="userjs" id="userjs"<tmpl_if name=userjs> checked="checked"</tmpl_if> /> <__trans phrase="Enable user.js"></li>
    </ul>
</mtapp:setting>

<mtapp:setting
    id="slidemenu"
    show_label="0"
    label="Slide Menu">
    <ul>
        <li><input type="checkbox" value="1" name="slidemenu" id="slidemenu"<tmpl_if name=slidemenu> checked="checked"</tmpl_if> /> <__trans phrase="Enable Slide Menu"></li>
    </ul>
</mtapp:setting>

<mtapp:setting
    id="superslidemenu"
    show_label="0"
    label="Enable Super Slide Menu">
    <ul>
    	<li><input type="checkbox" value="1" name="superslidemenu" id="superslidemenu"<tmpl_if name=superslidemenu> checked="checked"</tmpl_if> /> <__trans phrase="Enable Super Slide Menu"></li>
    </ul>
</mtapp:setting>

<mtapp:setting
    id="jqplugin"
    label="<__trans phrase="free area">">
    <textarea name="jqplugin" id="jqplugin"><mt:var name="jqplugin" encode_html="1"></textarea>
</mtapp:setting>

<mtapp:setting
    id="jquery_ready"
    show_label="0"
    label="jquery_ready.js">
    <ul>
        <li><input type="checkbox" value="1" name="jquery_ready" id="jquery_ready"<tmpl_if name="jquery_ready"> checked="checked"</tmpl_if> /> <__trans phrase="Enable jquery_ready.js"></li>
    </ul>
</mtapp:setting>

<mtapp:setting
    id="jqselectable"
    show_label="0"
    label="jQselectable.js">
    <ul>
        <li><input type="checkbox" value="1" name="jqselectable" id="jqselectable"<tmpl_if name="jqselectable"> checked="checked"</tmpl_if> /> <__trans phrase="Enable jQselectable.js"></li>
    </ul>
</mtapp:setting>

<div id="uploadify-container" style="display: none;">
    <mtapp:settinggroup id="uploadify_setting" class="border" show="1">
        <legend><__trans phrase="Uploadify"></legend>
        <mtapp:setting
            id="active_uploadify"
            label="<__trans phrase="active Uploadify">">
            <ul>
                <li><input type="checkbox" name="active_uploadify" id="active_uploadify"<tmpl_if name=active_uploadify> checked="checked"</tmpl_if> /></li>
            </ul>
        </mtapp:setting>
        <mtapp:setting
            id="upload_folder"
            label="<__trans phrase="Upload folder">"
            hint="<__trans phrase="The path to the folder you would like to save the files to. Do not end the path with a ‘/’.">"
            show_hint="1">
            <ul>
                <li><input type="text" value="<mt:var name="upload_folder" encode_html="1">" name="upload_folder" id="upload_folder" /></li>
            </ul>
            <script type="text/javascript">
            /* <![CDATA[ */
            (function($){
                $("#upload_folder").blur(function(){
                    var value = $(this).val().replace(/^\/|\/$/g,"");
                    $(this).val(value);
                });
            })(jQuery);
            /* ]]> */
            </script>
        </mtapp:setting>
        <mtapp:setting
            id="img_elm"
            label="<__trans phrase="img element"><br />(.png .jpg .jpeg .gif)"
            hint="<__trans phrase="You can write that File name is __filename__, File path is __filepath__.">"
            show_hint="1">
            <ul>
                <li><input type="text" value="<mt:var name="img_elm" encode_html="1">" name="img_elm" id="img_elm" /></li>
            </ul>
        </mtapp:setting>
<mt:Ignore>
        <mtapp:setting
            id="file_elm"
            label="<__trans phrase="a element">"
            hint="<__trans phrase="You can write that File name is __filename__, File path is __filepath__.">"
            show_hint="1">
            <ul>
                <li><input type="text" value="<mt:var name="file_elm" encode_html="1">" name="file_elm" id="file_elm" /></li>
            </ul>
        </mtapp:setting>
</mt:Ignore>
    </mtapp:settinggroup>

    <script type="text/javascript">
    // <![CDATA[
    jQuery("#jqplugin")
        .css({'font-size':'13px'})
        .focus(function(){
            jQuery(this).animate({height: "450px"});
        })
    // ]]>
    </script>
</div>