<mtapp:setting
    id="no_usercss"
    show_label="0"
    label="Stop user.css">
    <ul>
    	<li><input type="checkbox" value="1" name="no_usercss" id="no_usercss"<tmpl_if name=no_usercss> checked="checked"</tmpl_if> /> <__trans phrase="To stop using user.css"></li>
    </ul>
</mtapp:setting>

<mt:ignore>
<mtapp:setting
    id="no_mtappjquery"
    show_label="0"
    label="Stop MTAppjQery.js">
    <ul>
    	<li><input type="checkbox" value="1" name="no_mtappjquery" id="no_mtappjquery"<tmpl_if name=no_mtappjquery> checked="checked"</tmpl_if> /> <__trans phrase="To stop using MTAppjQuery.js"> <strong><__trans phrase="(JavasScript unless you are familiar with the contents of the file it is recommended that you disable it.)"></strong></li>
    </ul>
</mtapp:setting>
</mt:ignore>

<mtapp:setting
    id="no_userjs"
    show_label="0"
    label="Stop user.js">
    <ul>
    	<li><input type="checkbox" value="1" name="no_userjs" id="no_userjs"<tmpl_if name=no_userjs> checked="checked"</tmpl_if> /> <__trans phrase="To stop using user.js"> <strong><__trans phrase="(JavasScript unless you are familiar with the contents of the file it is recommended that you disable it.)"></strong></li>
    </ul>
</mtapp:setting>

<mtapp:setting
    id="no_slidemenu"
    show_label="0"
    label="Stop Slide Menu">
    <ul>
    	<li><input type="checkbox" value="1" name="no_slidemenu" id="no_slidemenu"<tmpl_if name=no_slidemenu> checked="checked"</tmpl_if> /> <__trans phrase="To stop using Slide Menu"></li>
    </ul>
</mtapp:setting>

<mtapp:setting
    id="superslidemenu"
    show_label="0"
    label="Enable Super Slide Menu">
    <ul>
    	<li><input type="checkbox" value="1" name="superslidemenu" id="superslidemenu"<tmpl_if name=superslidemenu> checked="checked"</tmpl_if> /> <__trans phrase="Enable Super Slide Menu"></li>
    </ul>
</mtapp:setting>

<mtapp:setting
    id="sys_jqplugin"
    label="JavaScript<__trans phrase="free area">">
    <textarea name="sys_jqplugin" id="sys_jqplugin"><mt:var name="sys_jqplugin"></textarea>
</mtapp:setting>

<mt:ignore><!-- Uploadify --></mt:ignore>
<div id="uploadify-container" class="mtapp-hidden">
<mtapp:settinggroup id="uploadify_setting" class="border" show="1">
    <legend>Uploadify</legend>
    <mtapp:setting
        id="no_uploadify"
        show_label="0"
        label="Stop Uploadify">
        <ul>
        	<li><input type="checkbox" value="1" name="no_uploadify" id="no_uploadify"<tmpl_if name=no_uploadify> checked="checked"</tmpl_if> /> <__trans phrase="To stop using Uploadify"></li>
        </ul>
    </mtapp:setting>
    <mtapp:setting
    	id="img_elm"
    	label="<__trans phrase="img element"><br />(.png .jpg .jpeg .gif)"
    	hint="<__trans phrase="You can write that File name is __filename__, File path is __filepath__.">"
    	show_hint="1">
        <ul>
        	<li><input type="text" value="<mt:var name="img_elm" encode_html="1">" name="img_elm" id="img_elm" /></li>
        </ul>
    </mtapp:setting>
    <mtapp:setting
    	id="file_elm"
    	label="<__trans phrase="a element">"
    	hint="<__trans phrase="You can write that File name is __filename__, File path is __filepath__.">"
    	show_hint="1">
        <ul>
        	<li><input type="text" value="<mt:var name="file_elm" encode_html="1">" name="file_elm" id="file_elm" /></li>
        </ul>
    </mtapp:setting>
</mtapp:settinggroup>
<script type="text/javascript">
// <![CDATA[
jQuery("#sys_jqplugin")
    .focus(function(){
        jQuery(this).animate({height: "450px"});
    })
    .blur(function(){
        jQuery(this).animate({height: "100px"});
    });
// ]]>
</script>
<!-- / #uploadify-container.mtapp-hidden --></div>